/* body {
  border: 2px solid rebeccapurple;

  background-image: url('images/photo.jpg');

  font-family: 'Times New Roman', Times, serif;
}

[data-type='primary'] {
  color: rgb(40, 40, 46);
} */

/* Hello */